/* Henry Sheehan's CIS195 CSS for Lab 5 */
/* Obnoxious Lime Green for testing -- border: 1px solid #0f0; */

@media screen
{

body
{
	color: #000;
	background-color: #A9A9A9;
	background-image: url("pics/lighthouse.jpg");
}
header
{
	color: #111;
}

h1
{
	background-color: pink;
	border: 2px solid #000;
	padding-left: 3rem;
	text-align: center;
	
}

h2
{
	text-decoration: underline;
	border: 1px #000;
	background-color: #ADD8E6;
	padding: 10px;
	text-align: center;
}

h3
{
	
}
nav
{
	text-align: center;
	padding-bottom: 10px;
}
nav a:link
{
	border: 1px solid #000;
	padding: 10px;
	border-radius: 20px;
	background-color: #ADD8E6;
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
	text-decoration: none;
}
nav a:visited {color:purple} 	
nav a:hover {
  background-color: pink;
  font-size: 18px;
}
nav a:active, nav a:focus {color: pink}

a:link {color:blue;}
a:visited {color:purple}
a:hover { font-size: 25px}
a:active

p
{
	padding: 1.5rem;
	
}

hr
{
	
}

main
{
	background-color: #ADD8E6;
	color: #000000;
	border: 1px solid #000;
	float: left; margin:5px;
	padding-left: 5px;
}
article
{
	
}

aside
{
	float: right;
	width: 250px;
	background-color: #D3D3D3;
	border: 1px solid #000;
	padding-left: .5rem;
	margin-left: .5rem;
	border-radius: 25px
}

blockquote
{

}

table
{
	
}

tr
{
	
}

th
{
	
}

td
{
	
}

ol
{
	
}

ul
{
	
}

li
{
	color: pink;
}

dl
{
	
}

dt
{
	
}

dd
{
	
}

details
{
	border: 1px solid #003;
	padding-left: 5px;
	margin-bottom: 10px;
	background-color: pink;
	/* background-image: url <-if i want to i could*/
}

summary
{
	border: 1px solid #000;
	background-color: #ADD8E6;
	margin-left: -5px;
}

footer
{
	
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
	background-color: pink;
}

address
{
	
}

.image-title
{	
	float: right; 
	margin: 5px;
}
.image-footer
{
	float:right; 
	margin-right: 10px;
}
.image-aside
{
	float: left; 
	margin: 10px;
}
.list
{
	background-color: #A9A9A9;
}

#wrapper
{
	width:80%;
	margin-left: auto;
	margin-right: auto;
	max-width:900px;
	min-width: 700px;
	background-color: gray;
	border: 1px solid #000;
	
}

}


@media print
{ 


h1, h2, h3, h4, h5, h6
{	
	font-family: "Times New Roman", serif;
	
} 

nav, footer
{
	font-size: 8pt;
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
	
	padding: 5px;
	margin: 10px 0px;
}


}